---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Benefits from "../components/Benefits.astro";
import SocialProof from "../components/SocialProof.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <HowItWorks />
    <Benefits />
    <SocialProof />
  </main>
</BaseLayout>
